<div id="assign-needs-to-users">
  <div class="panel bulk-actions" style="display: default">
  <%= check_box_tag("select-all-needs", nil, false, { class: "select-all-needs bulk-action-checkbox" }) %>
    <%= select_tag("user_id", content_tag(:option,'Unassigned',:value => "Unassigned") + options_from_collection_for_select(@users, :id, :name_or_email), prompt: 'Assign to person', class: "assign__needs",  id: "assign-selected-needs-users") %>
  </div>
</div>
