<fieldset class="field-section field-section--two-cols">
  <legend><h3 class="field-section__title">When should this call be scheduled for?</h3></legend>

  <%# this extra value is saved to the need, instead of the contact %>
  <div class="field field--span-two-cols">
    <label for="<%= "needs_list[#{need_index}][start_on]" %>" class="field__label">Date (e.g. <%= DateTime.now.strftime("%-d/%-m/%Y %H:%M") %>)</label>
    <%= need_form.text_field "needs_list[#{need_index}][start_on]" %>
  </div>
</fieldset>