<%= form_with url: url, local: true, method: "get", class: 'camden-form' do |f| %>
    <%= f.label :search, "Search by Person’s First Name / Last Name / Date of birth / NHS Number / Postcode / Track & Trace ID" %>
    <div class="u-mt u-mb">
        <%= f.search_field :search,
            value: params[:search],
            placeholder: text_field_placeholder
        %>
    </div>
<% end %>
