<div id="mainModal" class="modal">
  <div class="modal-content">
    <div class="modal-header">
      <span class="close">&times;</span>
      <h2></h2>
    </div>
    <div id="modalContent" class="modal-body">
    </div>
  </div>
</div>
