<ul class="progress-wizard">
  <li data-step="make-call">
    <span class="indicator completed invisible">&check;</span>
    <span class="indicator failed invisible">&#x2715;</span>
    <span>Make call</span>
  </li>
  <li data-step="triage">
    <span class="indicator completed invisible">&check;</span>
    <span class="indicator failed invisible">&#x2715;</span>
    <span>Triage</span>
  </li>
  <li data-step="assign">
    <span class="indicator completed invisible">&check;</span>
    <span class="indicator failed invisible">&#x2715;</span>
    <span>Assign</span>
  </li>
  <li data-step="complete">
    <span class="indicator completed invisible">&check;</span>
    <span class="indicator failed invisible">&#x2715;</span>
    <span>Complete</span>
  </li>
</ul>