<% if @contact.deceased_flag %>
  <div class="deceased-banner">
    <%= image_tag "vulnerable-icon-inverted.svg", alt: "", class: "deceased-banner__icon" %>
    This person is deceased, do not call
  </div>
<% elsif @contact.no_calls_flag %>
  <div class="no-call-banner">
    <%= image_tag "vulnerable-icon-inverted.svg", alt: "", class: "no-call-banner__icon" %>
    This person has required not to be called
  </div>
<% elsif @contact.is_vulnerable %>
  <div class="vulnerable-banner">
    <%= image_tag "vulnerable-icon-inverted.svg", alt: "", class: "vulnerable-banner__icon" %>
    This is a shielded person
  </div>
<% end %>
<% if @contact.under_18? %>
  <div class="under-18-banner">
    <%= image_tag "vulnerable-icon-inverted.svg", alt: "", class: "under-18-banner__icon" %>
    Under 18!
  </div>
<% end %>