<% if @contact.is_vulnerable %>
  <div class="vulnerable-banner">
    <%= image_tag "vulnerable-icon-inverted.svg", alt: "", class: "vulnerable-banner__icon" %>
    This is a vulnerable person
  </div>
<% end %>