<section class="accordion">

    <button class="accordion__control" aria-expanded="true">
        <h2 class="accordion__title">Personal details</h2>  
    </button>
    <div class="accordion__content">  
        <p>Content in here</p>
    </div>

    <button class="accordion__control" aria-expanded="false">
        <h2 class="accordion__title">Vulnerability</h2>  
    </button>
    <div hidden class="accordion__content">  
        <p>Content in here</p>
    </div>

    <button class="accordion__control" aria-expanded="false">
        <h2 class="accordion__title">Living</h2>  
    </button>
    <div hidden class="accordion__content">  
        <p>Content in here</p>
    </div>

</section>

<%= javascript_pack_tag 'accordion', 'data-turbolinks-track': 'reload' %>