<header class="panel-header">
  <%= link_to image_tag("left.svg", alt: "Go back"), contact_path(@contact), class: "go-back" %>
  <h1 class="panel-header__title">Edit a person in need</h1>
</header>

<div class="panel">
  <%= render 'form', contact: @contact %>
</div>


<%= javascript_pack_tag 'users_viewing_page.js' %>