<header class="panel-header">
  <h1 class="panel-header__title">Edit a person in need</h1>
  <%= link_to image_tag("left.svg", alt: "Go back"), contact_path(@contact), class: "go-back" %>
</header>

<div class="panel">
  <%= render 'form', contact: @contact %>
</div>