<ol class="breadcrumb">
  <li><%= link_to "People in need", contacts_path %></li>
  <li><%= link_to @contact.name, @contact %></li>
  <li>Edit</li>
</ol>

<section class="two-thirds">
  <div class="page-header">
    <h1 class="page-title">Editing <%= @contact.name %></h1>
  </div>
  <p class="lede">Use this feature to update the details of a person in need, so we have their most recent information.</p>
</section>

<%= render 'form', contact: @contact %>
