<header class="panel-header">
  <h1 class="panel-header__title">Edit a person in need</h1>
</header>

<div class="panel">
  <p class="lede">Use this feature to update the details of a person in need, so we have their most recent information.</p>
  <%= render 'form', contact: @contact %>
</div>