<%= link_to contacts_path, class: "go-back" do %>
    <%= image_tag "back.svg", alt: "" %><span>Go back</span>
<% end %>

<h1 class="page-title">Add a person in need</h1>

<%= render 'form', contact: @contact %>

