
document.getElementById("lead-service-panel").innerHTML = "<%= j(render partial: 'shared/lead_service_panel', locals: { contact: @contact, teams_options: @teams_options } ) %>";

<% if @contact.errors.any? %>
  alert("ERROR(s): <%= sanitize @contact.errors.full_messages.join('; ') %>")
<% else %>
    document.getElementById("contact-side-container").innerHTML = "<%= j(render 'shared/profile-accordion' ) %>";
    document.getElementById("edit-contact-link").style.display="block"

    document.getElementById("flash-messages").innerHTML = "<div class='notice'>Contact was successfully updated.</div>";
    setTimeout(function() {
        document.getElementById("flash-messages").innerHTML = '';
    }, 5000);
<% end %>