
document.getElementById("lead-service-panel").innerHTML = "<%= j(render partial: 'lead_service_panel', locals: { contact: @contact, assigned_to_options: @assigned_to_options } ) %>";
document.getElementById("ajax-notifications").innerHTML = "<div class='notice'>Contact was successfully updated.</div>";
setTimeout(function() {
    document.getElementById("ajax-notifications").innerHTML = '';
}, 5000);