<!DOCTYPE html>
<html>
<head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <style>
        a{
            color: white;
            font-weight: bold;
            font-size: 1.1rem;
            display: inline-block;
            padding: 10px 20px;
            margin: 15px 0px;
            background: #3A6CB5;
        }
    </style>
</head>
<body>

    <p>Click the link to finish signing in:</p>

    <p><a href="<%=  @magic_link %>">Finish signing in</a></p>

    <p>It will be valid for 30 minutes.</p>

</body>
</html>