@import "variables";

.accordion{
    .accordion__control{
        background: $text;
        border: none;
        padding: 10px 25px;
        width: 100%;
        text-align: left;
        cursor: pointer;
        border-bottom: 1px solid $white;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        &:hover{
            background: lighten($text, 5);
        }
        &:focus{
            outline: 2px solid $yellow;
        }
        &:after{
            content: "";
            display: block;
            width: 15px;
            height: 8px;
            background-repeat: no-repeat;
            background-image: url("data:image/svg+xml,%3Csvg width='16' height='9' viewBox='0 0 16 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M14.1643 0.0820309L7.9997 6.24664L1.83507 0.0820309L0.917384 0.999717L7.9997 8.08203L15.082 0.999717L14.1643 0.0820309Z' fill='white'/%3E%3C/svg%3E%0A");
        }
        &[aria-expanded=true]:after{
            background-image: url("data:image/svg+xml,%3Csvg width='16' height='9' viewBox='0 0 16 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1.83517 8.08203L7.99981 1.91742L14.1644 8.08203L15.0821 7.16435L7.99981 0.0820316L0.91748 7.16435L1.83517 8.08203Z' fill='white'/%3E%3C/svg%3E%0A");
        }
    }
    .accordion__title{
        color: $white;
        font-size: 1.1rem;
        font-weight: normal;
    }
    .accordion__content{
        padding: 25px;
    }
}

.details-list{
    margin: 0;
    .details-list__caption{
        font-weight: bold;
        margin-bottom: 5px;
        font-size: 0.9rem;
    }
    .details-list__value{
        margin-left: 0px;
        margin-bottom: 25px;
        &:last-of-type{
            margin-bottom: 0px;
        }
    }
}