@import "variables";

*{
    font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    color: $text;
}

*::-moz-focus-inner { 
    border: 0; 
    padding: 0; 
    outline: none;
}
*::-moz-focus-ring { 
    border: 0; 
    padding: 0; 
    outline: none;
}

::placeholder {
  color: transparentize($text, 0.5);
}

:-ms-input-placeholder {
  color: transparentize($text, 0.5) !important;
}

a{
    color: $blue;
    &:hover{
        text-decoration: none;
    }
    &:focus{
        background: $yellow;
        outline: 2px solid $yellow;
        color: $text;
    }
}

p{
    line-height: 1.5;
}

select::-ms-expand {
  display: none;
}

#roleSwitcherDropdown {
  width: 300px;
  background-position: 95% center;
}

.dropdown {
  margin-left: 5px;
  width: 135px;
  appearence: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 0px;
  padding: 5px;
  border: none;
  font-size: 0.9rem;
  background: $pale;
  cursor: pointer;
  background-position: 90% center;
  background-repeat: no-repeat;
  background-size: 13px;
  background-image: url(asset_path('select-dark.svg'));
  padding-right: 35px;
  &:focus{
    outline: 2px solid $yellow;
  }
}

.visually-hidden{
    position: absolute !important;
    height: 1px; 
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    white-space: nowrap;
}

.turbolinks-progress-bar {
    background-color: $yellow;
}