@import "variables";

*{
    font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    color: $text;
}

*::-moz-focus-inner { 
    border: 0; 
    padding: 0; 
    outline: none;
}
*::-moz-focus-ring { 
    border: 0; 
    padding: 0; 
    outline: none;
}

::placeholder {
  color: transparentize($text, 0.5);
}

:-ms-input-placeholder {
  color: transparentize($text, 0.5) !important;
}

a{
    color: $blue;
    &:hover{
        text-decoration: none;
    }
    &:focus{
        background: $yellow;
        outline: 2px solid $yellow;
        color: $text;
    }
}

p{
    line-height: 1.5;
}

select::-ms-expand {
  display: none;
}

.visually-hidden{
    position: absolute !important;
    height: 1px; 
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    white-space: nowrap;
}

.turbolinks-progress-bar {
    background-color: $yellow;
}