
// colors
$grey: #2A2828;
$grey-pale: #54585A;

$pale: #EFEFEF;
$white: #ffffff;
$blue: #156BEC;

$green: #22C99B;
$yellow: #F7C745;
$red: #892E1E;

$red-error: #ff0e05;
$red-pale: #F1D8D3;

// breakpoints
$breakpoint-m: 700px;
$breakpoint-l: 1100px;

// others
$max-width: 1100px;
$outer-spacing: 20px;
$font-stack: Helvetica Neue, Arial, Helvetica, sans-serif;