
// colors
$text: #2A2828;
$grey: #54585A;

$pale: #EFEFEF;
$white: #ffffff;

$blue: #3A6CB5;
// $blue: #156BEC;

$green: #22C99B;
$yellow: #F7C745;
$red: #E1655B;

// breakpoints
$breakpoint-m: 700px;
$breakpoint-l: 1100px;

// others
$max-width: 1100px;
$outer-spacing: 20px;
$font-stack: Helvetica Neue, Arial, Helvetica, sans-serif;