@import "variables";

.assessment-dropdown {
  position: relative;
  display: inline-block;
  margin-right: 10px;
  #btnAssessmentDropdown,
  #btnAssessmentDropdown:focus,
  #btnAssessmentDropdown:active {
    color: $blue;
    font-size: 1.2rem;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    background-color: transparent;
  }
}

.assessment-dropdown-content {
  display: none;
  position: absolute;
  right: 5%;
  background-color: $white;
  min-width: 300px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;

  a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    &:hover {
      background-color: $blue-hover;
    }
  }
}

.assessment-dropdown-show {
  display: block;
}

.make-call-form-container {
  margin-top: 25px;
}

.assessment-triage-progress-container {
  padding-left: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.assessment-assign-progress-container {
  padding-left: 35px;
}

.assessment-complete-progress-container {
  padding-left: 35px;
  margin-top: 15px;
}

.assessment-fail-form-container {
  margin-bottom: 35px;
  h3 {
    font-size: 16px;
  }
}

.assessment-assign-dropdown {
  width: 100%;
}


#assessment-container{
  margin-bottom: 20px;
}

.field {
  &.field__assessment {
    .field__label {
      font-size: 16px;
      &.triage {
        margin-top: 15px;
      }

      &.title-element {
        font-weight: bold;
      }
    }
  }
}

.field-section {
  &.field-section__assessment {
    .field-section__title {
      font-size: 16px;
    }
  }
}

.assessment-grid{
  @media screen and (min-width: $breakpoint-m){
      display: grid;
      grid-template-columns: 1fr;
      grid-column-gap: 10px;
  }
  .assessment-grid__need{
      margin: none;
      background: $white;
      box-shadow: 2px 0px 10px transparentize($text, 0.95);
      margin-bottom: 0px;
      border-left-width: 5px;
      border-left-style: solid;
      border-bottom: 1px solid transparentize($text, 0.8);
  }
  .assessment-grid__inner{
      padding: 0px 20px 10px 20px;
  }
  .assessment-grid__inner--grey{
      background: transparentize($pale, 0.5);
      padding-bottom: 1px;
  }
  .assessment-grid__title{
      padding-top: 10px;
  }

  .selectable{
      cursor: pointer;
      &:hover{
          background: transparentize($blue, 0.9);
      }
      &:focus-within{
          background: transparentize($yellow, 0.8);
          border-color: $yellow;
      }
      td:last-of-type{
          padding-right: 35px;
          position: relative;
          &:after{
              position: absolute;
              content: "";
              display: block;
              top: 0;
              right: 0;
              height: 100%;
              width: 30px;
              background-position: center;
              background-repeat: no-repeat;
          }
      }
  }
}

.assessment-checkbox{
    position: relative;
    padding: 0px 0px 0px 50px;
    &:focus-within label:before{
      outline: 2px solid $yellow;
    }
    input{
      font-size: 2rem;
      -webkit-appearance:none;
      width:35px;
      height:35px;
      position: absolute;
      left: 0px;
      top: 0px;
      &:checked + label{
        &:before{
            background-color: $blue;
            border-color: $blue;
        }
        &:after{
            position: absolute;
            content: "";
            display: block;
            height: 24px;
            width: 24px;
            left: 8px;
            top: 8px;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            background-image: url(asset_path('white-tick.svg'));
          }
      }
    }
    .checkbox__label{
      cursor: pointer;
      color: $text;
      &:before{
        content: "";
        display: inline-block;
        background: $white;
        border: 2px solid $text;
        width: 35px;
        height: 35px;
        position: absolute;
        left: 0px;
        top: 0px;
      }
    }
}
