@import "variables";

.breadcrumb {
  list-style: none;
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  li {
    display: inline-block;
    font-size: 16px;
  }

  li+li:before {
    padding: 0px 15px;
    color: transparentize($grey-pale, 0.5);
    content: "/";
  }
}