@import "variables";

.breadcrumb {
  list-style: none;
  margin-bottom: 24px;

  li {
    display: inline;
    font-size: 16px;
  }

  li+li:before {
    padding: 8px;
    color: $grey-pale;
    content: "/";
  }
}