@import "variables";

.bulk-actions{
    display: flex;
    flex-direction: row;
    flex: 1 0 auto;
    align-items: center;
    .last-element {
      margin-left: auto;
      display: flex;
      flex-direction: row-reverse;
    }
    #btnExport {
      margin-left: 10px;
    }
    #assign-selected-needs-users, #assign-selected-needs-team {
      width: 160px;
    }
}

.bulk-action-checkbox{

  -ms-transform: scale(1.5); /* IE */
  -moz-transform: scale(1.5); /* FF */
  -webkit-transform: scale(1.5); /* Safari and Chrome */
  -o-transform: scale(1.5); /* Opera */
  transform: scale(1.5);
  padding: 10px;
}
