@import "variables";

.button{
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid $blue;
    color: $blue;
    background: $white;
    font-size: 0.9rem;
    background: none;
    font-weight: 500;
    text-decoration: none;
    min-width: 80px;
    text-align: center;
    cursor: pointer;
    &:focus{
        outline: none;
        background: $white;
        box-shadow: 0px 0px 0px 2px $yellow;
    }
    &:hover{
        background: $blue;
        color: $white;
    }

    &.button--dark{
        border: 1px solid $text;
        color: $text;
        margin-right: 10px;
        &:focus{
            background: $white;
        }
        &:hover{
            background: $text;
            color: $white;
        }
    }
    &.button--blue{
      color: $white;
      background: $blue;
      margin-right: 10px;
      &:focus{
          outline: 2px solid $yellow;
      }
      &:hover{
          background: darken($blue, 10);
          color: $white;
      }
    }

    &.button--primary{
        padding: 12px;
        text-align: left;
        width: 100%;
        font-size: 1.2rem;
        background: $blue;
        font-weight: normal;
        color: $white;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        max-width: 350px;
        &:hover{
            background: darken($blue, 10);
        }
        &:active{
            background: darken($blue, 20);
        }
        &:focus{
            outline: 2px solid $yellow;
        }
        &:after{
            content: "";
            display: block;
            height: 18px;
            width: 13px;
            background-size: contain;
            background-repeat: no-repeat;
            background-image: url(asset_path('right-white.svg'));
            margin-left: 15px;
        }
    }

    &.button--disabled{
        border: 1px solid grey;
        @extend .button--blue;

        background: grey;
        &:hover{
            background: darken(grey, 10);
        }
        &:active{
            background: darken(grey, 20);
        }
        &:focus{
            outline: 2px solid $yellow;
        }
    }
   
}


.button--larger {
    @extend .button;
    padding: 12px;
    font-size: 1.2rem;
}

a {
  &.btn-triage {
    color: $blue;
    margin-left: auto;
    font-size: 1.2rem;
    border: none;
    outline: none;
    padding: 0;
    text-decoration: none;
    &:focus {
      background: none;
    }
  }
}


.tablink{
    font-size: 1rem;
    @extend .button, .button--dark;
    border: none;
    padding: 10px 25px 10px 25px;
    margin-bottom: 0px;
}

.tablink__active{
    background: white;
}