@import "variables";

.content-header{
    font-size: 0.9rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 25px 35px; 
    .content-header__actions-right{
        margin-left: auto;
        padding-left: 35px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .content-header__current-user{
        margin-right: 10px;
    }
}