@import "variables";

.content-header{
    font-size: 0.9rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 25px 35px; 
    .content-header__actions-right{
        margin-left: auto;
        padding-left: 35px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .content-header__current-user{
        margin-right: 10px;
    }
}

#concurrent-users{
    position: fixed;
    bottom: 0;
    right: 0;
    width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    z-index: 100;
    background: $yellow;

    ul{
        list-style: none;
        margin-bottom: 25px;
        font-size: 1.4rem;
        li{
            padding-top: 5px;
            font-size: 1.2rem;
            font-weight: bold;
        }
    }
}