.dataTables_length {
  select {
    display: inline-block;
    width: auto;
  }
}

.dataTables_filter {
  input[type=search] {
    display: inline-block;
    width: auto;
  }
}

.dataTable tfoot {
  input, select {
    display: inline-block;
    font-size: 0.8rem;
    padding: 8px;
  }
}