@import "variables";

.tag{
  display: inline-block;
  padding: 5px 15px;
  font-size: 0.9rem;
  background: $yellow;
  text-transform: capitalize;
}

.table {
  width: 100%;
  padding: 8px;
  border-collapse: collapse;
  color: $grey;

  tbody tr {
    border-top: 1px solid rgba(0, 0, 0, 0.4);
  }

  th, & td {
    text-align: left;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  th {
    color: $grey-pale;
    font-weight: initial;
  }

  td:nth-child(1) {
    font-weight: bold;
  }

  small{
    color: $grey-pale;
  }
}
