@import "variables";

.table-holder{  
  overflow-x: auto;  
  margin-bottom: 35px;
  @media screen and (min-width: $breakpoint-m){
    overflow-x: inherit;
  }
}

.table {
  width: 100%;
  padding: 8px;
  border-collapse: collapse;
  color: $grey;

  tbody tr {
    border-top: 1px solid transparentize($grey, 0.5);
  }

  th, td {
    text-align: left;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 40px;
    &:last-of-type{
      padding-right: 0px;
    }
  }

  th {
    color: $grey-pale;
    font-weight: initial;
  }

  small{
    color: $grey-pale;
  }

  .sorter{
    color: $grey-pale;
    display: flex;
    flex-direction: row;
    align-items: center;
    .sorter__controls{
      margin-left: 10px;
      display: inline-flex;
      flex-direction: column;
      *:first-child{
        margin-bottom: 5px;
      }
      img, a{
        display: flex;
      }
      a{
        height: 8px;
      }
      img{
        height: 8px;
      }
    }
  }

}

.dataTables_info{
  margin-top: 15px;
  font-size: 0.9rem;
}

.dataTables_empty{
  font-size: 1.4rem;
  color: $grey-pale;
  font-weight: 400;
}

.pagination, .dataTables_paginate{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 1.1rem;
  span, .paginate_button {
    margin: 0px 10px;
    cursor: pointer;
    &.current{
      color: $grey;
      cursor: auto;
    }
  }
}

.dataTables_length{
  float: left;
  margin-bottom: 15px;
  select{
    width: 60px;
    display: inline-block;
    font-size: 0.9rem;
    padding: 7px;
  }
}

.dataTables_filter{
  float: right;
  input[type="search"]{
    width: 250px;
    display: inline-block;
    margin-left: 10px;
    font-size: 0.9rem;
    padding: 7px;
  }
} 


.filters{
  margin-bottom: 25px;
  .filters__summary{
    color: $blue;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.2rem;
    &:hover{
      text-decoration: underline;
    }
    &:focus{
      background: $yellow;
      color: $grey;
      outline: 3px solid $yellow;
    }
  }
  form{
    margin-top: 20px;
    padding: 25px;
    background: $white;
  }
  .field{
    margin-bottom: 20px;
  }
  .table{
    tr{
      display: grid;
      grid-column-gap: 20px;
      width: 100%;
      @media screen and (min-width: $breakpoint-m){
        grid-template-columns: 1fr 1fr 1fr;
      }
    }
    th{
      padding: 0px;
      padding-right: 10px;
      &:last-of-type{
        padding-right: 0px;
      }
      &.hidden{
        display: none;
      }
    }
  }
}