@import "variables";

*[data-open=true] {
  @media screen and (max-width: 1368px) {
    margin-top: 10px;
  }
}

.filters{
    display: flex;
    flex-direction: row;
    flex: 1 0 auto;
    // .filters__controls{}
    .filters__content{
        margin-left: 0px;
        &[hidden]{
            display: none;
        }
    }
    #needs-filters, #btnClearFilters {
      margin-left: auto;
      order: 1;
    }
}