@import "variables";

.field-section{
    border: none;
    margin: 0;
    padding: 0;
    margin-bottom: 45px;
    .field-section__title{
        font-size: 1.1rem;
        margin-bottom: 25px;
    }
    .field-section__hint{
        grid-column: 1 / 3;
        margin-top: 15px;
    }
    &.field-section--two-cols{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 35px;
    }
  &.field-section--four-cols{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 35px;
    legend {
      margin-bottom: 20px;
    }
  }
    .field:last-child{
        margin-bottom: 0px;
    }
}

.field-section-small{
  @extend .field-section;
  margin-bottom: 0;
    &.field-section--two-cols{
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 15px;
  }
}

.field{
    margin-bottom: 35px;
    .field__label{
        display: inline-block;
        font-weight: 500;
        font-size: 0.9rem;
        margin-bottom: 7px;
    }
    .field__label-top{
      @extend .field__label;
      display: block !important;
    }
    &.field--span-two-cols{
        grid-column: 1 / 3;
    }
}


.field-small{
  @extend .field;
  margin-bottom: 10px;
}

:disabled {
  color: darkgray;
}

select{
  font-size: 1rem;
  padding: 10px;
  display: block;
  background: $pale;
  border: none;
}

input[type=text],
input[type=email],
input[type=number],
input[type=date],
textarea{
    font-size: 1.2rem;
    padding: 10px;
    display: block;
    background: transparentize($pale, 0.5);
    border: none;
    border-bottom: 1px solid $text;
    width: 100%;
    &:focus{
        border-color: $yellow;
        background: transparentize($yellow, 0.9)
    }
    &:invalid{
        outline: none;
        border-color: $red;
        background: transparentize($red, 0.9)
    }
}

.radio{
    position: relative;
    padding: 10px 0px 10px 50px;
    &:focus-within label:before{
      box-shadow: 0px 0px 0px 2px $yellow;
    }
    input{
      font-size: 2rem;
      -webkit-appearance:none;
      width:35px;
      height:35px;
      position: absolute;
      left: 0px;
      top: 0px;
      &:checked + label:after{
        position: absolute;
        content: "";
        display: block;
        height: 27px;
        width: 27px;
        left: 6px;
        top: 6px;
        background-color: $text;
        border-radius: 100%;
      }
    }
    .radio__label{
      cursor: pointer;
      color: $text;
      &:before{
        content: "";
        display: inline-block;
        background: $white;
        border: 2px solid $text;
        width: 35px;
        border-radius: 100%;
        height: 35px;
        position: absolute;
        left: 0px;
        top: 0px;
      }
    }
}

.checkbox{
    position: relative;
    padding: 10px 0px 10px 50px;
    &:focus-within label:before{
      outline: 2px solid $yellow;
    }
    input{
      font-size: 2rem;
      -webkit-appearance:none;
      width:35px;
      height:35px;
      position: absolute;
      left: 0px;
      top: 0px;
      &:checked + label{
        &:before{
            background-color: $blue;
            border-color: $blue;
        }
        &:after{
            position: absolute;
            content: "";
            display: block;
            height: 24px;
            width: 24px;
            left: 8px;
            top: 8px;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            background-image: url(asset_path('white-tick.svg'));
          }
      }
    }
    .checkbox__label{
      cursor: pointer;
      color: $text;
      &:before{
        content: "";
        display: inline-block;
        background: $white;
        border: 2px solid $text;
        width: 35px;
        height: 35px;
        position: absolute;
        left: 0px;
        top: 0px;
      }
    }
}


.checkbox-black{
  @extend .checkbox;
  input{
    &:checked + label{
      &:before{
          background-color: $white;
          border-color: black;
      }
      &:after{
          background-image: url(asset_path('black-tick.svg'));
        }
    }
  }
}


.radios, .checkboxes{
  border: none;
  margin: 0;
  padding: 0;
  margin-bottom: 45px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 35px;
  legend{
      font-size: 0.9rem;
      font-weight: 500;
      margin-bottom: 10px;
  }
  *:last-child{
      margin-bottom: 0px;
  }
}

.error{
  padding: 25px;
  border-left: 5px solid $red;
  background: transparentize($red, 0.9);
  margin-bottom: 25px;
  grid-column: 1 / 3;
  li{
    padding-left: 10px;
    margin-bottom: 7px;
    &:last-of-type{
      margin-bottom: 0px;
    }
  }
}
.assessment-buttons-right{
  margin-top: 20px;
  margin-bottom: 60px;
}

.panel-buttons-right{
  position: relative;
  float: right;
  font-size: 0.9rem;
  margin: -10px -10px 10px 20px;
}
.contact-edit-link{
      margin-left: auto;
      margin-bottom: 0px;
      margin-right: 0px !important;    
}

.accordion-buttons-right{
  position: relative;
  float: right;
  font-size: 0.9rem;
  margin: 20px 20px 20px 20px;
}


.contact-back-top-link{
  position: relative;
  float: right;
  font-size: 0.9rem;
  margin: 0px 0px 30px 0px;
}

