@import "variables";

input[type=text],
select,
input[type=email],
input[type=search],
textarea{
    display: block;
    width: 100%;
    font-size: 1rem;
    border: 2px solid $grey;
    padding: 10px;
    &:focus{
        outline: 5px solid $yellow;
    }
}

select {
  background: #FFF;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='22' height='13' viewBox='0 0 22 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.5 1.5L11 11L20.5 1.5' stroke='%232A2828' stroke-width='2'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: 97% center;
  padding-right: 50px;
}

.button,
input[type=submit],
button{
    display: block;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    border: none;
    padding: 15px 25px;
    width: 100%;
    cursor: pointer;
    background: $blue;
    border-radius: 5px;
    box-shadow: 0px 5px 0px darken($blue, 10);
    &:focus{
        outline: none;
        color: white;
        background: $blue;
        box-shadow: 0px 0px 0px 5px $yellow;
    }
    &:hover{
        background: darken($blue, 5);
        text-decoration: none;
    }
    &:active{
        background: darken($blue, 5);
        color: $white;
        box-shadow: none;
        transform: translateY(5px)
    }
    @media screen and (min-width: $breakpoint-m){
      display: inline-block;
      min-width: 150px;
      width: auto;
    }
}

.field-section{
  border: none;
  margin-bottom: 35px;
  @media screen and (min-width: $breakpoint-m){
    margin-bottom: 55px;
  }
  .field-section__title{
      margin-bottom: 20px;
      grid-column: 1 / 3;
  }
  .field-section__title--big{
      font-size: 1.5rem;
  }

  .field{
    // margin-bottom: 0px;
  }
  @supports (display: grid){
    &.field-section--two-cols{
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 40px;
    }
  }

  &--inline {
    width: 49%;
    display: inline-block;
  }
}

.field{
    margin-bottom: 35px;
    @media screen and (min-width: $breakpoint-m){
      // margin-bottom: 55px;
    }
    .field__label{
      color: $grey;
      display: inline-block;
      margin-bottom: 10px;
    }
    &.field--span-two-cols{
      grid-column: 1 / 3;
    }
}

.checkboxes{
  margin-bottom: 25px;
  @media screen and (min-width: $breakpoint-m){
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
  }
}

.checkbox{
    margin-bottom: 20px;
    position: relative;
    padding-left: 50px;
    padding-top: 10px;
    &:focus-within label:before{
      outline: 5px solid $yellow;
    }
    .checkbox__input{
      font-size: 2rem;
      -webkit-appearance:none;
      width:35px;
      height:35px;
      position: absolute;
      left: 0px;
      top: 0px;
      &:checked + label:after{
        position: absolute;
        content: "";
        display: block;
        height: 28px;
        width: 28px;
        left: 5px;
        top: 5px;
        background-image: url("data:image/svg+xml,%3Csvg width='28' height='24' viewBox='0 0 28 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M27.1608 5.08025L9.59935 23.3259L0.837891 14.2231L5.16081 10.0623L9.59935 14.6738L22.8379 0.919434L27.1608 5.08025Z' fill='%232A2828'/%3E%3C/svg%3E%0A");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
      }
    }
    .checkbox__label{
      cursor: pointer;
      color: $grey;
      &:before{
        content: "";
        display: inline-block;
        background: $white;
        border: 2px solid $grey;
        width: 35px;
        height: 35px;
        position: absolute;
        left: 0px;
        top: 0px;
      }
    }
  }

.radio {
  position: relative;
  margin-bottom: 20px;
  padding: 10px 0px;

  .radio__label {
    padding-left: 40px;
    cursor: pointer;
    &:before{
      display: block;
      content: "";
      position: absolute;
      top: 0px;
      left: 0px;
      height: 35px;
      width: 35px;
      border-radius: 100%;
      border: 2px solid $grey;
    }
  }

  &:focus-within .radio__label:before{
    outline: none;
    box-shadow: 0px 0px 0px 5px $yellow;
  }

  input{
    opacity: 0;
    &:checked + label:after{
      display: block;
      content: "";
      position: absolute;
      top: 6px;
      left: 6px;
      height: 27px;
      width: 27px;
      border-radius: 100%;
      background: $grey;
    }
  }
}

.error_explanation, 
.error {
  padding: 18px;
  color: $red;
  border: 4px solid $red;
  margin-bottom: 32px;

  h2 {
    margin-bottom: 16px;
    color: $red;
  }

  ul {
    list-style-type: none;
  }
}