@import "variables";

input[type=text],
input[type=email]{
    font-size: 1.2rem;
    padding: 10px 0px;
    display: block;
    border: none;
    border-bottom: 1px solid $text;
    &:focus{
        border-color: $yellow;
    }
    &::placeholder{
        color: transparentize($text, 0.5)
    }
}