@import "variables";

.site-header{
  background: white;
  padding: 15px $outer-spacing;
  box-shadow: 0px 2px 2px rgba(0,0,0,0.05);

  .site-header__inner{
    @media screen and (min-width: $breakpoint-m){
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  }

  .site-header__logo{
    display: inline-block;
    margin-bottom: 15px;
    @media screen and (min-width: $breakpoint-m){
      margin-bottom: 0px;
      margin-right: 40px;
    }
  }

  .site-header__nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    @media screen and (min-width: $breakpoint-m){
      width: 100%;
      font-size: 1.1rem;
    }
  }

  .site-header__links{
    list-style: none;
    margin-top: 0px;
    margin-left: 0px;
  }

  .site-header__link{
    font-weight: bold;
    display: inline-block;
    margin-right: 12px;
    position: relative;
    @media screen and (min-width: $breakpoint-m){
      padding: 5px 0px;
    }
    &:last-of-type{
      margin-right: 0px;
    }
  }

  .site-header__submenu{
    display: none;
  }

  @media screen and (min-width: $breakpoint-m){
    .site-header__submenu{
      position: absolute;
      top: 30px;
      left: 0px;
      background: $white;
      border: 1px solid $grey;
      list-style: none;
      a{
        display: block;
        padding: 10px 15px;
        &:hover{
          background: $pale;
          text-decoration: none;
        }
        &:focus{
          background: $yellow;
          outline: none;
        }
      }
    }

    .site-header__link--has-submenu:hover .site-header__submenu,
    .site-header__link--has-submenu:focus-within .site-header__submenu{
      display: block;
      z-index: 1;
      width: 230px;
    }

  }




}


.current-user{
  display: none;
  @media screen and (min-width: $breakpoint-l){
    display: inline-block;
    margin-right: 10px;
    color: $grey-pale;
  }
}