@import "variables";

*{
    font-family: $font-stack;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    color: $grey;
}

*::-moz-focus-inner {
  border: 0;
}

body{
    background-color: $grey;
}

h1, h2, h3, h4, h5{
    color: $grey;
    line-height: 1.1;
}

p{
    color: $grey;
    line-height: 1.5;
}

a{
  color: $blue;
  text-decoration: none;
  &:hover{
    text-decoration: underline;
  }
  &:focus{
    color: $grey;
    background: $yellow;
    outline: 3px solid $yellow;
  }
}

.container{
  max-width: $max-width;
  margin-left: auto;
  margin-right: auto;
}

.two-thirds {
  @media screen and (min-width: $breakpoint-m){
    max-width: 66.67%;
  }
}

.lede {
  margin-top: 45px;
  margin-bottom: 45px;
  color: $grey;
  font-size: 23px;
  line-height: 1.5;
  @media screen and (min-width: $breakpoint-m){
    margin-bottom: 65px;
  }
}

.main-content{
    background: $pale;
    padding: 40px $outer-spacing 60px $outer-spacing;
    @media screen and (min-width: $breakpoint-l){
      padding: 80px $outer-spacing;
    }
}

.page-header{
  margin-bottom: 40px;
  @media screen and (min-width: $breakpoint-m){
    margin-bottom: 55px;
  }
  &.page-header--with-button{
    @media screen and (min-width: $breakpoint-m){
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
    .button{
      margin-top: 30px;
      @media screen and (min-width: $breakpoint-m){
        margin-top: 0px;
      }
    }
  }
}

.page-title{
  margin: 0;
  font-size: 2.5rem;
  @media screen and (min-width: $breakpoint-l){
    font-size: 3rem;
  }
  .page-title__count{
    color: $grey-pale;
    font-weight: normal;
  }
}

.go-back{
    display: inline-block;
    font-weight: bold;
    font-size: 1.2rem;
    text-decoration: none;
    margin-bottom: 15px;
    span{
      color: $blue;
    }
    img{
      height: 15px;
      margin-right: 7px;
    }
    &:hover span{
      text-decoration: underline;
    }
    &:focus {
      span{
        color: $grey;
      }
      img{
          filter: grayscale(1)
      }
    }
  }

.notice{
  display: block;
  padding: 20px;
  background: transparentize($blue, 0.9);
  margin-bottom: 30px;
  border-left: 5px solid $blue;
  ul{
    margin-top: 10px;
    margin-left: 25px;
    li{
      padding-left: 10px;
      margin-bottom: 10px;
      &:last-of-type{
        margin-bottom: 0px;
      }
    }
  }
}

.tabs{
  border-radius: 5px;
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-bottom: 45px;
  @media screen and (min-width: $breakpoint-m){
    max-width: 500px;
  }
  .tabs__tab{
    color: $blue;
    border: 2px solid $blue;
    flex: 1;
    position: relative;
    width: 50%;
    text-align: center;
    padding: 10px 20px;
    &:first-child{
      border-radius: 5px 0px 0px 5px;
    }
    &:last-child{
      border-radius: 0px 5px 5px 0px;
    }
    &:focus{
      outline: none;
      z-index: 2;
      box-shadow: 0px 0px 0px 5px $yellow;
      background: none;
    }
  }
  .tabs__tab--current{
    color: $white;
    background: $blue;
  }
}

.error{
  padding: 25px;
  border-left: 5px solid $red;
  color: $red;
  margin-bottom: 25px;
  h2, li{
    color: $red;
  }
  ul{
    margin-top: 10px;
    margin-left: 25px;
    li{
      padding-left: 10px;
      margin-bottom: 10px;
      &:last-of-type{
        margin-bottom: 0px;
      }
    }
  }
  h2{
    margin-bottom: 20px;
  }
}

.beta-banner{
  background: $pale;
  padding: 10px 15px 0px 15px;
  font-size: 0.9rem;
  .beta-banner__inner{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  .beta-banner__tag{
    background: $yellow;
    text-transform: uppercase;
    padding: 3px 7px;
    margin-right: 10px;
    color: $grey;
  }
  .beta-banner__message{
    padding-top: 1px;
  }
}

.vulnerable-banner{
  background: transparentize($red, 0.7);
  padding: 25px;
  margin-bottom: 30px;
  font-size: 1.2rem;
  font-weight: bold;
  .container{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  img{
    margin-right: 15px;
  }
}