@import "variables";

.mini-search{
    position: relative;
    width: 250px;
    margin-right: 15px;

    .mini-search__input{
        padding: 5px;
        font-size: 1rem;
        color: $text;
        border: none;
        border-bottom: 1px solid $text;
        width: 100%;
        padding-right: 50px;
        &:focus{
            outline: none;
            border-color: $yellow;
        }
    }

    .mini-search__submit{
        background: none;
        border: none;
        position: absolute;
        right: 0px;
        top: 1px;
        bottom: 1px;
        padding: 5px 8px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            width: auto;
            height: 14px;
        }
        &:hover{
            background: $pale;
        }
        &:focus{
            outline: 2px solid $yellow;
        }
    }
}