@import "variables";

.need-actions{
    display: flex;
    flex-direction: row;
    margin-bottom: 35px;

    .need-actions__field{
        flex: 1;
        margin-right: 20px;
        &:last-of-type{
            margin-right: 0px;
        }
    }
    .need-actions__label{
        font-weight: bold;
        display: block;
        font-size: 0.9rem;
        margin-bottom: 7px;;
    }
    .need-actions__select{
        width: 100%;
        appearence: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        border-radius: 0px;
        padding: 7px;
        border: none;
        font-size: 1rem;
        background: $pale;
        cursor: pointer;
        background-position: 95% center;
        background-repeat: no-repeat;
        background-size: 13px;
        background-image: url(asset_path('select-dark.svg'));
        &.need-actions__select--red{
            background-color: $red;
            color: $white;
            background-image: url(asset_path('select-white.svg'));
            option{
                background-color: $pale;
            }
        }
        &:focus{
            outline: 2px solid $yellow;
        }
    }
}