@import "variables";

.pagination-records-summary, .pagination-page-selection {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.pagination-page-selection {
  * {
    margin-left: 10px;
  }

  a {
    &.button {
      min-width: 40px;
      width: 40px;
      height: 20px;
      margin-right: 0;
      padding-top: 0;
      &.disabled {
        opacity: 0.5;
        pointer-events: none;
      }
    }
  }

  .page-select {
    width: 40px;
    height: 40px;
    border: 1px solid $text;
    font-size: 0.9rem;
    background: white;
    &:focus {
      border-color: inherit;
      background: inherit;
    }
  }
}

.pagination{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    .pagination__previous,
    .pagination__next{
        width: 40px;
        height: 40px;
        background: $white;
        padding: 10px;
        border: 1px solid $text;
        text-align: center;
        margin-left: 10px;
        &:hover{
            opacity: 0.7;
        }
        &:focus{
            outline: 2px solid $yellow;
        }
        &.pagination__previous--disabled,
        &.pagination__next--disabled{
            opacity: 0.25;
        }
    }
    .pagination__previous{
        margin-left: 15px;
    }
}