@import "variables";

.table{
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 35px;

    thead{
        border-bottom: 2px solid $text;
    }

    th{
        text-align: left;
        padding-bottom: 15px;
        font-size: 0.9rem;
        padding-right: 15px;
        &:first-of-type{
            padding-left: 5px;
        }
    }

    tbody{

        tr{
            position: relative;
            border-bottom: 1px solid transparentize($text, 0.8);
            &.deleted-row{
                background: transparentize($grey, 0.9);
                &:hover{
                    background: transparentize($grey, 0.8) !important;
                }
                &:focus-within{
                    background: transparentize($grey, 0.8) !important;
                    border-color: $grey !important;
                }
            }
            &.clickable{
                @extend .selectable;
                td:last-of-type{
                    &:after{
                        background-image: url(asset_path('right.svg'));
                    }
                }
            }
            &.selectable{
                cursor: pointer;
                &:hover{
                    background: transparentize($blue, 0.9);
                }
                &:focus-within{
                    background: transparentize($yellow, 0.8);
                    border-color: $yellow;
                }
                td:last-of-type{
                    padding-right: 35px;
                    position: relative;
                    &:after{
                        position: absolute;
                        content: "";
                        display: block;
                        top: 0;
                        right: 0;
                        height: 100%;
                        width: 30px;
                        background-position: center;
                        background-repeat: no-repeat;
                    }
                }
            }

        }
    
        td{
            height: 70px;
            padding-right: 15px;

            img{
                height: 30px;
            }

            &:first-of-type{
                padding-left: 5px;
            }
    
            a.primary-link{
                text-decoration: none;
                color: $text;
                &:focus{
                    outline: none;
                    background: none;
                }
            }
        }
    }
}

.no-results{
    font-size: 1.3rem;
    text-align: center;
    color: $grey;
    padding: 40px;
    margin: 0 auto;
    max-width: 320px;
}

.needs-table{
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    thead{
        border-bottom: 1px solid transparentize($text, 0.8);
        th{
            padding-top: 25px;
            text-align: left;
            padding-bottom: 15px;
            font-size: 0.9rem;
            padding-right: 15px;
            &:first-of-type{
                padding-left: 25px;
            }
        }
    }
    tbody{
        tr{
            position: relative;
            border-top: 1px solid transparentize($text, 0.8);
            border-left-width: 10px;
            border-left-style: solid;
            cursor: pointer;
            transform: scale(1);
            -ms-transform: scale(1);
            &:hover{
                background: transparentize($blue, 0.9);
            }
            &:focus-within{
                background: transparentize($yellow, 0.8);
                border-color: $yellow;
            }
            &:first-of-type{
                border-top: none;
            }

          &.small td {
            height: 80px;
          }
        }
        td{
            height: 140px;
            vertical-align: top;
            padding-top: 25px;
            width: 10%;

            a {
                color: $text;
                text-decoration: none;
                &:focus{
                    background: none;
                    outline: none;
                }
            }
            &:first-of-type{
                padding-left: 25px;
            }
            &.last-column {
              padding-right: 50px;
              position: relative;
              &:after{
                position: absolute;
                content: "";
                display: block;
                top: 0;
                right: -90%;
                height: 100%;
                width: 50px;
                background-position: center;
                background-repeat: no-repeat;
                background-image: url(asset_path('right.svg'));
              }
            }
            &.last-column.ie {
              &:after {
                top: 230%;
              }
            }
            &.additional-column {
              position: absolute;
              left: 25px;
              width: 90%;
              top: 75px;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
            }
            div.td-microsoft-container {
              position: relative;
            }
            div.additional-column.microsoft {
              position: absolute;
              left: -490%;
              width: 520%;
              top: 75px;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
            }
        }
    }
    &.completed, &.assessments-table {
      tbody {
        td {
          div.additional-column.microsoft {
          left: -390%;
        }
        &.last-column.ie {
          &:after {
            top: 120%;
          }
        }
      }
    }
  }
}

.completed-needs-table-nav-show{
  width: 100%;
  border-collapse: collapse;

  thead{
      border-bottom: 1px solid transparentize($text, 0.8);
      th{
          padding-top: 25px;
          text-align: left;
          padding-bottom: 15px;
          font-size: 0.9rem;
          padding-right: 15px;
          &:first-of-type{
              padding-left: 25px;
          }
      }
  }

  tbody{
      tr{
          border-top: 1px solid transparentize($text, 0.8);
          border-left-width: 10px;
          border-left-style: solid;
          cursor: pointer;
          &:hover{
              background: transparentize($blue, 0.9);
          }
          &:focus-within{
              background: transparentize($yellow, 0.8);
              border-color: $yellow;
          }
          &:first-of-type{
              border-top: none;
          }
      }
      td{
          height: 70px;
          width: 10%;
          height: 35px; 
          font-size: 0.9rem;
          a{
              color: $text;
              text-decoration: none;
              &:focus{
                  background: none;
                  outline: none;
              }
          }
          &:first-of-type{
              padding-left: 25px;
          }
          &:last-of-type{
              padding-right: 50px;
              position: relative;
              &:after{
                  position: absolute;
                  content: "show";
                  display: block;
                  top: 9px;
                  right: 0;
                  height: 100%;
                  width: 50px;
                  color: #3a6cb5;
              }
          }
      }
  }
}

.table-nav-hide{
  tbody{
      td{
          &:last-of-type{
              &:after{
                  content: "hide";
              }
          }
      }
  }
}

.urgent-tag{
    display: inline-block;
    padding: 7px 12px;
    background: $red;
    color: $white;
}

.sortable{
    display: flex;
    flex-direction: row;
    align-items: center;
    .sortable__controls{
        display: inline-flex;
        flex-direction: column;
        margin-left: 10px;
        *:first-child{
            margin-bottom: 5px;
        }
        a, img{
            height: 7px;
        }
        img{
            display: block;
        }
    }
}


tr.completed-need, tr.completed-assessment{
    td{
        color: transparentize($text, 0.4) !important;
        a, strong {
            color: transparentize($text, 0.4) !important;
        }
    }
}