@import 'variables';

.notes-list{
    padding-top: 50px;
}


.note{
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid transparentize($grey, 0.5);
    .note__header{
        margin-bottom: 20px;
    }
    .note__author{
        margin-right: 15px;
    }
    .note__type{
        margin-right: 15px;
        text-transform: uppercase;
    }
    .note__created{
        color: $grey-pale;
    }
}

.need__created{
    background: #F7C745;
}


.phone_success{
    color: green;
}
.phone_fail{
    color: red;
}
.generic{
    color: gray;
}