<% content_for :class, "login-panel--centred"%>

<%= image_tag "green-tick.svg", alt: "success" %>

<h2>Check your email</h2>

<p>If <strong>firstname.lastname@gmail.com</strong> exists in our records, you'll get an email with a special link.</p>

<p>Click that link to verify your address and finish logging in.</p>