<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  <style>
      *{
          font-family: Helvetica, Arial, sans-serif;
      }
  </style>
</head>
<body>

  <p>You've been invited to view and manage data on the council's platform for tracking vulnerable people in the area.</p>
  
  <p>Click the link below to start signing in:</p>
  
  <p><a href="<%= root_url %>">Visit Beacon</a></p>

  <p>If you can't see the link, copy and paste this URL into your browser:</p>

  <p><%= root_url %></p>

</body>
</html>