<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<p>
  You've been invited to view and manage data on the council's platform for tracking vulnerable people in the area.
</p>
<p>
  Click the link below to sign in:
</p>
<p>
  <a href="https://<%= ENV['MAILER_URL'] %>">https://<%= ENV['MAILER_URL'] %></a>
</p>
</body>
</html>