<!DOCTYPE html>
<html lang="en">
  <%= render "shared/head"%>
  <body>

    <%= render "shared/side-nav" %>

    <div class="content-pane">
      <header class="content-footer">
      </header>

      <div class="main-content">
        <%= yield %>
      </div>

      <footer class="content-footer">
      </footer>
    </div>

  </body>
</html>
