<!DOCTYPE html>
<html lang="en">
  <%= render "shared/head"%>

  <body class="login">

    <%= link_to image_tag('logo.svg'), root_path, alt: "Camden Council" %>

    <div class="login-panel">
      <div class="container">
        <%= yield %>
      </div>
    </div>

    Having trouble? <a href="">Email us</a>

  </body>
</html>
