<!DOCTYPE html>
<html lang="en">
  <%= render "shared/head"%>

  <body class="login">
    <header class="login__header">
      <%= link_to image_tag(logo_path, alt: council_name, class: "login__logo"), root_path, class: "login__logo-link" %>
    </header>

    <div class="login-panel <%= yield :class %>">
      <%= yield %>
    </div>

    <p>Having trouble? <a href="">Email us</a></p>

  </body>
</html>
