<!DOCTYPE html>
<html lang="en">
  <%= render "shared/head"%>

  <body class="login">

    <%= link_to image_tag(logo_path), root_path, alt: council_name %>

    <div class="login-panel <%= yield :class %>">
      <%= yield %>
    </div>

    <p>Having trouble? <a href="">Email us</a></p>

  </body>
</html>
